torch
xformers
jupyterlab
notebook
ipywidgets
datasets
protobuf
basaran


git+https://github.com/huggingface/transformers.git
git+https://github.com/huggingface/peft.git
git+https://github.com/huggingface/accelerate.git
bitsandbytes
scipy
einops
uvicorn

jupytext
